@media(max-width: 480px){
    body{
       overflow-x: hidden;
    }
    header{
        width: 475px;
    }
    header nav h1{
        z-index: 4;
        font-size: 18px;
        margin-left: 0px;
    }
    header nav ul{
        margin-top: 0px;
        margin-left: 0px;
        font-size: 10px;
        
    }
    header nav ul li{
        margin-top: 32px;
        margin-right: 5px;
    }
    header nav ul button{
        margin-top: 20px;
        padding: 8px;
    }
    header nav .line{
        top: 50px;
        left:200px;
        width: 100px;
    }
    .header_bottom .airpods{
        left: 10px;
        width: 480px;
        height: 480px;
    }
    .header_bottom .grup_65_mrgvalebi{
        left: 10px;
        width: 460px;
        height: 480px;
    }
    .header_bottom .playe_icon{
        width: 400px;
        height: 400px;
        top: -250px;
        left: 10px;
    }
    .header_bootom_left{
        margin-top: 100px;
        margin-left: 15px;
    }
    .header_bootom_left .txt{
        width: 460px;
        margin-left: 0px;
    }
    .Shape{
        z-index: 1;
        width: 200px;
        height: 200px;
        top: 620px;
        left: -150px;
    }
    .Greatest{
        margin-top: 100px;
    }
    .Greatest h1{
        margin-top: 100px;
    }
    .Greatest .p{
        font-size: 12px;
        margin-bottom: 200px;
    }
    .Greatest img{
        top: 300px;
        width: 400px;
        height: 400px;
    }
    .Features{
        overflow: hidden;
        padding-top: 150px;
        padding-bottom: 200px;
    }
    .Features h1{
        margin-left: 150px;
    }
    .Features .cards{
        margin-left: 2px;
        grid-template-columns: 45% 45%;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .Features .card{
        width: 230px;

    }
    .Features .card img{
        margin-top: 55px;
    }
    .Features .card h2{
        font-size: 20px;
        margin-left: 20px;
    }
    .Features .card p{
    line-height: 1.6;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 25px;
    font-size: 12px;
    font-weight: 300;
    }
    .Features .img{
        width: 200px;
        height: 200px;
        top: 0.1px;
    }
    
    .imgs{
        height: 400px;
        width: 400px;
        top: 1550px;
        right: 150px;
    }
    .faq p{
        width: 470px;
        font-size: 12px;
    }
    .faq .inout{
        display: flex;
        flex-direction: column;
    }
    .faq .inout .input{
        width: 430px;
    }
    .faq .shapes{
        width: 0px;
        height: 0px;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    .faq h1{
        margin-top: 80px;
    }
    .Order_Now{
        width: 480px;
        background-image: url("./img/Path\ 37.png")
    }
    .right_order{
        width: 240px;
       
    }
    .order_img{
        width: 230px;
        height: 300px;
        margin-left: 0px;
        margin-top: 250px;
    }
    .order_img .grup34{
        margin-left: 40px;
        margin-top: 0px;
    }
    .path78{
        left: 200px;
    }
    .path79{
        top: 240px;
        left: 250px;
    }
    .left_order{
        width: 240px;
        margin-left: 0px;
        width: 50%;
    }
    .left_order h2{
        z-index: 1;   
    }
    .left_order .txt{
        z-index: 1;
        width: 230px;
        margin-left: 8px;
        font-size: 10px;
        line-height: 1.6;
    }
    .color div{
        margin-left: 10px;
    } 
    .dolare{
        width: 235px;
    }
    .dolare .price{
        font-size: 38px;
    }
    .dolare .quantity{
        font-size: 20px;
    }
    .bts2{
        width: 230px;
        padding: 19px;
    }
    .path1{
        top: 850px;
        left: 200px;
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
    .imge{
        margin-top: 120.7px;
        display: flex;
        justify-content: center;
    }
    .imge_left img{
        width: 240px;
    }
    
    .imge_right{
        width: 240px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .imge_right img{
        width: 100px;
        height: 100px;
        object-fit:contain;
    }
    .contact h2{
        font-size: 25px;
    }
    .contact .top{
        width: 470px;
    }
    .contact .line{
        width: 100px;
    }
    .contact p{
        width: 470px;
        font-size: 12px;
        line-height: 1.6;
    }
    .forms{
        display: flex;
        flex-direction: column;
    }
    .forms .inputs{
        margin-left: 5px;
    }
    .forms .inputs input{
        width: 460px;
    }
    .full input{
        margin-left: 5px;
        width: 460px;
        height: 100px;

    }
    footer{
        width: 480px;
        margin-top: 50px;
    }
    footer .left{
        width: 0px;
        height: 0px;
    }
    footer .left img{
        width: 0px;
        height: 0px;
    }
    footer .midle{
        width: 475px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    footer .airpod{
       margin-left: 130px;
    }
    .midle p{
        margin-left: 130px;
    }
    .tfl{
        margin-bottom: 10px;
        margin-left: 160px;
    }
    footer .right{
        width: 0px;
        height: 0px;
    }
    .lines{
        width: 0px;
        height: 0px;
    }
    .path82{
        width: 0px;
        height: 0px;
        top: 0;
        left: 0px;
    }
    footer .midle .line{
        width: 460px;
    }
}

@media (min-width: 992px) and (max-width: 1024px)
{
    header{
        width: 1020px;
        display:flex;
        justify-content: space-between;
    }
    header nav h1{
        z-index: 4;
        font-size: 18px;
        margin-left: 12px;
    }
    header nav ul{
        width: 50%;
        margin-top: 0px;
        margin-left: 0px;
        font-size: 12px;
        margin-right: 10px;
        
    }
    header nav ul li{
        margin-top: 32px;
        margin-right: 10px;
    }
    header nav ul button{
        margin-top: 20px;
        padding: 15px;
    }
    header nav .line{
        top: 50px;
        left:590px;
        width: 100px;
    }
    .header_bottom{
        margin-left: 5%;
        overflow:hidden;
    }
    .header_bottom .airpods{
        top: 50px;
        left: 500px;
        width: 600px;
        height: 600px;
        z-index: 2;
    }
    .header_bottom .grup_65_mrgvalebi{
        z-index: 2;
        left: 500px;
        top: 50px;
        width: 700px;
        height: 700px;
    }
    header{
        position: relative;
    }
    .header_bottom .playe_icon{
        z-index: 1;
        width: 700px;
        height: 700px;
        top: -220px;
        left: 500px;
    }
    .header_bootom_left{
        margin-left: 25px;
        margin-bottom: 200px;
    }
    .header_bootom_left h1{
        font-size: 40px;
    }
    .header_bootom_left{
        margin-top: 180px;
        margin-left: 15px;
    }
    .header_bootom_left .txt{
        width: 460px;
    }
    .Shape{
        width: 400px;
        height: 400px;
        top: 550px;
        left: -200px;
        
    }
    .Greatest{
        margin-top: 0px;
    }
    .Greatest h1{
        margin-top: 100px;
    }
    .Greatest .p{
        font-size: 12px;
        margin-bottom: 200px;
    }
    .Greatest img{
        top: 300px;
        width: 400px;
        height: 400px;
    }
    .Features{
        overflow: hidden;
        padding-top: 0px;
        padding-bottom: 200px;
    }
    .Features h1{
        margin-top: 150px;
        margin-left: 150px;
    }
    .Features .cards{
        margin-left: 2px;
        margin-top: 100px;
        grid-template-columns: 45% 45%;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .Features .card{
        margin-left: 40px;
        width: 450px;

    }
    .Features .card img{
        margin-top: 55px;
    }
    .Features .card h2{
        font-size: 35px;
        margin-top: 47px;
        margin-left: 20px;
    }
    .Features .card p{
        line-height: 2.5;
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 23px;
        font-size: 14px;
    }
    .Features .img{
        top: 0.1px;
        width: 400px;
        height: 400px;
        
    }
    
    .imgs{
        height: 400px;
        width: 400px;
        top: 1600px;
        right: 600px;
    }
    .faq p{
        font-size: 16px;
        font-weight: 300px;
        text-align: center;
        line-height: 2;
        margin-top: 19px;
    }
    .faq .inout{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 27px;
    
    }
    .faq h1{
        margin-top: 100px;
    }
    .faq .inout .input{
        width: 430px;
    }
    .faq{
        overflow: hidden;
        padding-bottom: 220px;
    }
    .faq .shapes{
        width: 300px;
        height: 300px;
        position: absolute;
        left: 900px;
        top: 700px;
    }
    .Order_Now{
        overflow: hidden;
        display: flex;
        justify-content:flex-start;
        margin-top: 0px;
    }
    .right_order{
        margin-top: 50px;
        width: 800px;
        height: 800px;
        background-image: url("./img/Path\ 37.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .order_img{
        margin-top: 150px;
        margin-left: 150px;
        width: 300px;
        height: 400px;
    }
    .order_img .grup34{
        width: 150px;
        margin-left: 80px;
        margin-top: 30px;
    }
    .path78{
        left: 405px;
        top: -50px;
    }
    .path79{
        top: 150px;
        left: 500px;
    }
    .path1{
        width: 400px;
        height: 200px;
        top: 500px;
        left: 200px;
    
    }
    .left_order{ 
        margin-left: 40px;
    }
    .left_order .txt{
        margin-top: 40px;
        line-height: 1.6;
        width:400px;
    }
    .imge{
        margin-top: 120.7px;
    }
    .imge_left img{
        width: 520px;
    }
    
    .imge_right{
        width: 1022px;
        grid-template-columns: 1fr 1fr;
    }
    .imge_right img{
        width: 250px;
        height: 210px;
    }
    .forms .inputs input{
        width: 450px;
        height: 68px;
        border-radius: 20px;
    }
    .full input{
        width: 900px;
        margin-left: 20px;
    }
    footer{
        margin-top: 10px;
        display: flex;
    }
    footer .left{
        display: flex;
        align-items: flex-end;
    }
    footer .left img{
        width: 200px;
        height: 200px;
    }
    footer .airpod{
        width: 216px;
        height: 216px;
    }
    footer .path82{
        position: absolute;
        top: 250px;
        left: 0px;
    }
    footer .lines{
        top:200px;
        left: 1px;
        position: absolute;
        width: 450px;
        height: 250px;
    }
}