.contener{
    max-width: 1920px;
    width: 100%;
    margin: 0px auto;
   
}
body{
   overflow-x: hidden;
   font-family: 'Poppins', sans-serif;
}
header nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav h2{
    margin-left: 141px;
    font-size: 68px;
    font-weight: 700;
}
.width480{display: none;}
header nav ul{
    z-index: 2;
    width: 40%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 300;
    margin-right: 141px;
   
}
header ul li{
    margin-top: 44px;
}
header ul button:hover{
    background: linear-gradient(128deg, rgba(196,152,255,1) 20%, rgba(159,156,255,1) 65%, rgba(163,156,255,1) 100%);
}
ul button{
    padding: 20px 55px 22px 51px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: white;
    margin-top: 25px;
}
header{
    position: relative;
}
header .line{
    z-index: 1;
    top: 72px;
    left: 1050px;
    position: absolute;
    width: 153px;
    height: 3px;
    background: rgb(196,152,255);
    background: linear-gradient(128deg, rgba(196,152,255,1) 20%, rgba(159,156,255,1) 65%, rgba(163,156,255,1) 100%);
}
.header_bootom_left {
    z-index: 2;
    position: relative;
    margin-top: 209px;
    margin-left: 141px;
}
.header_bootom_left h1{

    font-size: 62px;
    font-weight: 700;
}
.header_bootom_left .txt{
    position: relative;
    z-index: 1;
    width: 800px;
    margin-top: 67px;
    font-size: 16px;
    font-weight: 300;
    line-height: 3;
}
.btn1{
    margin-top: 60px;
    width: 276px;
    padding: 19px 60px 22px 57px;
    font-size: 24px;
    border-radius: 100px;
    color: white;
    background: rgb(196,152,255);
    background: linear-gradient(128deg, rgba(196,152,255,1) 20%, rgba(159,156,255,1) 65%, rgba(163,156,255,1) 100%);

}
.Shape{
    top: 550px;
    position: absolute;
    left: -400px;
}
.header_bottom{
    position: relative;
}
.header_bottom img{
    position: absolute;
}

.airpods{
    left: 882px;
    bottom: 1px;
    top: -240px;
    z-index: 1;
}
.grup_65_mrgvalebi{
    left: 900px;
    top:-150px;
    z-index: 1;
}
.playe_icon{
    top: -500px;
    left: 1000px;
}
.Greatest{
    z-index: 2;
    margin-top: 292px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgb(196,152,255);
    background: linear-gradient(128deg, rgba(196,152,255,1) 20%, rgba(159,156,255,1) 65%, rgba(163,156,255,1) 100%);

}
.greantests{
    margin-top: 5px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./img/group.png");
}
.Greatest h1{
    color: white;
    margin-top: 196px;
    font-size: 35px;
    font-weight: 700;
}
.Greatest p{
    text-align: center;
    margin-bottom: 432px;
    margin-top: 59px;
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 4;
}
.Greatest{
    position: relative;
}
.Greatest img{
    z-index: 1;
    top: 380px;
    position: absolute;
}
.Features{
    padding-bottom: 197px;
    padding-top:267.5px;
    background-color: #F8FAFE;
}
.Features .cards{
    margin-top: 64.5px;
    margin-left: 250px;
    display: grid;
	grid-template-columns: 27% 27% 27%;
    grid-column-gap: 50px;
	grid-row-gap: 50px;
}
.Features .card{
    width: 420px;
    height: 456px;
    background-color: white;
    
}
.Features{
    width: 100%;
    position: relative;
}
.Features .img{
    position: absolute;
    left: 75%;
    bottom: 1015px;
}
.Features h2{   
    font-size: 40px;
    font-weight: 700;
    margin-left: 321px;

}
.Features .card{
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card img{
    margin-top: 90px;
}
.card h2{
    font-size: 35px;
    font-weight: 700;
    margin-top: 47px;
}
.card p{
    line-height: 2.5;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 23px;
    font-size: 14px;
    font-weight: 300;
}

.card .bacraundcolor{
    width: 100%;
    height: 32px;
    background: rgb(196,152,255);
    background: linear-gradient(128deg, rgba(196,152,255,1) 20%, rgba(159,156,255,1) 65%, rgba(163,156,255,1) 100%);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.card4 h2{
    margin-top: 17px;
}
.imgs{
    top: 1143px;
    right: 1150px;
    position: absolute;
    
}
.Order_Now{
    display: flex;
    justify-content:flex-start;
    margin-top: 134px;
}
.right_order{
    
    width: 916px;
    height: 1018px;
    background-image: url("./img/Path\ 37.png");
}
.order_img{
    margin-top: 150px;
    margin-left: 220px;
    width: 536px;
    height: 706px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 5px rgb(12,32,114,0.1);
}
.order_img .grup34{
    width: 150px;
    margin-left: 193.4px;
    margin-top: 54px;
}
.right_order {
    position: relative;
}
.path{
    position: absolute;
}
.path78{
    left: 665px;
}
.path79{
    top: 240px;
    left: 848px;
}
.path1{
    top: 770px;
    left: 500px;

}
.left_order{ 
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}
.left_order h2{
    font-size: 40px;
    font-weight: 700;
    margin-top: 220px;

}
.left_order .txt{
    margin-top: 40px;
    line-height: 3;
    width: 720px;
    /* margin-right: 100px; */
}
.color{ 
    margin-top: 46px;
    width: auto;
    display: flex;
    justify-content: flex-start;
}
.color div{
    margin-left: 27px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border:1px solid black;
    
}
.color .black{
    background-color: black;
    margin-left: 36px;
}
.color .white{
    background-color: white;
}
.color .orang{
    background-color: orangered;
}
.color .blue{
    background-color: #72A1FF;
}
.color span{
    font-size: 22px;
    font-weight: 700;
}
.dolare{ 
    margin-top: 32px;
    width: 283px;
    display: flex;
    justify-content: space-between;
}
.dolare .quantity{
    padding: 4px 19.6px 10px 26px;
    font-size: 37px;
    border: 1px solid black;
    border-radius: 10px;
}
.dolare .price{
    font-size: 58px;
    font-weight: 700;
}
.imge{
    margin-top: 165.7px;
    display: flex;
    justify-content: center;
}
.imge_right{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.faq{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq h2{
    margin-top:207px;
    font-size: 40px;
    font-weight: 700;
}
.faq p{
    font-size: 16px;
    font-weight: 300px;
    text-align: center;
    line-height: 2;
    margin-top: 19px;
}
.faq .inout{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 27px;
}
.faq .inout .input{
    border: 1px solid black;
    border-radius: 20px;
    width: 540px;;
    display: flex;
    align-items: center;
    padding-top:12.5px;
    padding-bottom: 12.5px;
    padding-left: 23px;
    justify-content: flex-start;
}
.input .line{
    width: 1px;
    height: 43px;
    background-color: black;
    margin-left: 20.8px;
    margin-right:16.6px;
}
.input .icon{
    font-size: 40px;
    transform: rotate(90deg);
}
.inout .open{
    display: flex;
    flex-direction: column;
}
.open_top{
    width: 100%;
    border-bottom: 1px solid #707070;
    display: flex;
    align-items: center;
    padding-bottom: 12.5px;
}
.open p{
    width: 100%;
    font-size: 14px;
    padding: 31px 40px 18px 6px;
}
.open .icon{
   
    color: rgb(196,152,255);
    transform: rotate(270deg);
}
.inout .heigt{
    height: 70px;
}
.faq{
    position: relative;
}
.faq .shapes{
    position: absolute;
    left: 1510px;
    top: 420px;
}
.contact{
    margin-top: 135px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact h2{
    font-size: 40px;
    font-weight: 700;
}
.contact .top{
    width: 780px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact .line{
    width: 250px;
    height: 5px;
    background: linear-gradient(128deg, rgba(196,152,255,1) 20%, rgba(159,156,255,1) 65%, rgba(163,156,255,1) 100%);
}
.contact p{
    line-height: 2;
    width: 780px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 40px;
}
.contact .forms{
    display: flex;
}
.forms .inputs{
    margin-left: 41px;
}
.forms .inputs input{
    width: 519px;
    height: 68px;
    border-radius: 20px;
}
.contact .full{
    margin-top: 27px;
}
.full input{
    width: 1079px;
    height: 311.9px;
    margin-left: 41px;
    border: 1px solid black;
    border-radius: 20px;
}
footer{
    overflow: hidden;
    margin-top: 137px;
    display: flex;
}
footer .airpod{
    width: 216px;
    height: 216px;
}
footer .midle{
    margin-top: 116px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .midle .line{
    margin-top: 22px;
    width: 630px;
    height: 1px;
    background-color: black;
}
footer .midle p{
    font-size: 16px;
    font-weight: 300;
    margin-top: 22px;
}
footer .midle .tfl{
    width:150px;
    display: flex;
    justify-content: space-between;
    margin-top:12.7px;
}
footer .right{
    position: relative;
}
footer .path82{
    position: absolute;
    top: 162px;
    left: 223px;
}
.imgs{
    animation-name: airpod;
    animation-duration: 10s;
    animation-iteration-count:infinite;
}
@keyframes airpod{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
