.contener{
    max-width: 1920px;
    width: 100%;
    margin: 0px auto;
   
}
body{
   overflow-x: hidden;
   font-family: 'Poppins', sans-serif;
}
header nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav h1{
    margin-left: 141px;
    font-size: 68px;
    font-weight: 700;
}
header nav ul{
    z-index: 2;
    width: 40%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 300;
    margin-right: 141px;
   
}
header ul li{
    margin-top: 44px;
}
ul button{
    padding: 20px 55px 22px 51px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: white;
    margin-top: 25px;
}
header{
    position: relative;
}
header .line{
    z-index: 1;
    top: 72px;
    left: 1150px;
    position: absolute;
    width: 153px;
    height: 3px;
    background: rgb(196,152,255);
    background: linear-gradient(128deg, rgba(196,152,255,1) 20%, rgba(159,156,255,1) 65%, rgba(163,156,255,1) 100%);
}
.header_bootom_left {
    z-index: 1;
    margin-top: 209px;
    margin-left: 141px;
}
.header_bootom_left h1{
    font-size: 62px;
    font-weight: 700;
}
.header_bootom_left .txt{
    position: relative;
    z-index: 1;
    width: 800px;
    margin-top: 67px;
    font-size: 16px;
    font-weight: 300;
    line-height: 3;
}
.header_bootom_left .btn1{
    margin-top: 60px;
    width: 276px;
    padding: 19px 60px 22px 57px;
    font-size: 24px;
    border-radius: 100px;
    color: white;
    background: rgb(196,152,255);
    background: linear-gradient(128deg, rgba(196,152,255,1) 20%, rgba(159,156,255,1) 65%, rgba(163,156,255,1) 100%);

}
.Shape{
    top: 820px;
    position: absolute;
    left: -200px;
}
header{
    position: relative;
}
.header_bottom img{
    position: absolute;
}
.airpods{
    left: 1000px;
    top: 40px;
    z-index: 1;
}
.grup_65_mrgvalebi{
    left: 900px;
    top:120px;
    z-index: 1;
}
.playe_icon{
    top: -250px;
    left: 1000px;
}
.Greatest{
    
    margin-top: 292px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgb(196,152,255);
    background: linear-gradient(128deg, rgba(196,152,255,1) 20%, rgba(159,156,255,1) 65%, rgba(163,156,255,1) 100%);

}
.greantests{
    margin-top: 5px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./img/group.png");
}
.Greatest h1{
    color: white;
    margin-top: 196px;
    font-size: 35px;
    font-weight: 700;
}
.Greatest p{
    text-align: center;
    margin-bottom: 432px;
    margin-top: 59px;
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 4;
}
.Greatest{
    position: relative;
}
.Greatest img{
    top: 380px;
    position: absolute;
}
.Features{
    padding-bottom: 197px;
    padding-top:267.5px;
    background-color: #F8FAFE;
}
.Features .cards{
    margin-top: 64.5px;
    margin-left: 250px;
    display: grid;
	grid-template-columns: 27% 27% 27%;
    grid-column-gap: 50px;
	grid-row-gap: 50px;
}
.Features .card{
    width: 420px;
    height: 456px;
    background-color: white;
    
}
.Features{
    width: 100%;
    position: relative;
}
.Features .img{
    position: absolute;
    left: 75%;
    bottom: 1015px;
}
.Features h1{   
    font-size: 40px;
    font-weight: 700;
    margin-left: 321px;

}
.Features .card{
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}
.card img{
    margin-top: 90px;
}
.card h2{
    font-size: 35px;
    font-weight: 700;
    margin-top: 47px;
}
.card p{
    line-height: 2.5;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 23px;
    font-size: 14px;
    font-weight: 300;
}

.card .bacraundcolor{
    width: 100%;
    height: 32px;
    background: rgb(196,152,255);
    background: linear-gradient(128deg, rgba(196,152,255,1) 20%, rgba(159,156,255,1) 65%, rgba(163,156,255,1) 100%);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.card4 h2{
    margin-top: 17px;
}
.imgs{
    top: 1143px;
    right: 1150px;
    position: absolute;
    
}
